@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;900&display=swap');
body{
    background-image: url("./imgaen/spiderman-logo-illustration-958x575.jpg");
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;

    font-family: 'Gabarito', cursive;
}
 .s1{
    width: 400px;
    text-align: center;
 }
 img{
    display: block;
    margin: auto;
 }